.sidebar_container {
  transition: width 0.28s;
  width: 180px !important;
  height: 100%;
  position: fixed;
  font-size: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
  .scrollbar-wrapper {
    font-size: 12px;
    overflow-x: hidden!important;
    .el-scrollbar__view {
      height: 100%;
    }
  }
}

.root_hide_slidebar {
  .sidebar_container {
    width: 36px !important;
  }
  .main_container {
    margin-left: 36px !important;
  }
}